---
# Title: ansible-role-guacamole
#
# Author: Luc Rutten
# File tasks/main2.yml
#
# Description:
#   Apache Guacamole is a clientless remote desktop gateway.
#
# Depends on: 
#   MySQL 5.7
  
- name: "Create ansible and guacamole directory structure"
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - /opt/ansible
    - /opt/ansible/projects
    - /opt/ansible/projects/guacamole
    - /opt/ansible/projects/guacamole/scripts
    - /opt/ansible/projects/guacamole/resources
    - /etc/guacamole
    - /etc/guacamole/lib
    - /etc/guacamole/extensions
    - /usr/share/tomcat8
    - /usr/share/tomcat8/.guacamole
    
- name: "Add xenial repository for package libpng12-dev"
  apt_repository:
    repo: 'deb http://archive.ubuntu.com/ubuntu xenial main restricted universe multiverse'
    filename: xenial.list 
    state: present

- name: "Install packages"
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: present
  vars:
    packages:
    - build-essential 
    - gcc-6
    - g++-6
    - ghostscript
    - jq
    - haveged
    # Required dependencies
    - libcairo2-dev
    - libjpeg-turbo8-dev
    #- libjpeg62-dev
    - libpng12-dev
    - libtool-bin
    - libossp-uuid-dev
    # Optional dependencies
    - libavcodec-dev
    - libavutil-dev
    - libswscale-dev
    - freerdp2-dev
    - libpango1.0-dev
    - libssh2-1-dev
    - libtelnet-dev
    - libvncserver-dev
    - libwebsockets-dev
    - libpulse-dev
    - libssl-dev
    - libvorbis-dev
    - libwebp-dev
  
- name: "stop tomcat service"
  systemd:
    name: tomcat8
    state: stopped

- name: "Transfer templates files to the specified directories"
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    backup: yes
  with_items:
    - { src: 'tomcat8.j2', dest: '/etc/default/tomcat8' }
    - { src: 'guacamole.properties.j2', dest: '/etc/guacamole/guacamole.properties' }
    - { src: 'gmt.cnf.j2', dest: '/etc/mysql/mysql.conf.d/gmt.cnf' }

- name: "Create symlink from /etc/guacamole/guacamole.properties to /usr/share/tomcat8/.guacamole/guacamole.properties"
  file:
    src: /etc/guacamole/guacamole.properties
    dest: /usr/share/tomcat8/.guacamole/guacamole.properties
    state: link    
    
- name: "Download guacamole server and client files"
  get_url:
    url: "{{ item.src }}"
    dest: "{{ item.dst }}"
  with_items:
    - { src: '{{ guac_server_src }}', dst: '{{ guac_server_dir }}' }
    - { src: '{{ guac_client_src }}', dst: '{{ guac_client_dst }}' }

- name: "Unarchive guacamole server files"
  unarchive: 
    src: "{{ guac_server_dir }}/{{ guac_server_tar }}"
    dest: "{{ guac_server_dir }}"
    remote_src: yes

- name: "Create initial Guacamole MySQL database"
  mysql_db:
    name: "{{ guac_dbname }}"
    encoding: utf8
    state: present
    login_user: "{{ MySQL_ROOT_ACCOUNT }}"
    login_password: "{{ MySQL_ROOT_PASSWORD }}"

- name: "Create Guacamole MySQL database user"
  mysql_user:
    name: "{{ guac_dbuser }}"
    password: "{{ guac_dbpass }}"
    priv: "{{ guac_dbname }}.*:ALL,GRANT"
    state: present
    login_user: "{{ MySQL_ROOT_ACCOUNT }}"
    login_password: "{{ MySQL_ROOT_PASSWORD }}"

- name: "Running ./configure for Guacamole"
  command: '"{{ item }}" cc="gcc-6" chdir="{{ guac_server_dir_unpacked }}/" --with-init-dir=/etc/init.d'
  with_items:
    - ./configure

- name: "Running make for Guacamole"
  command: '"{{ item }}" CC=gcc-6 chdir="{{ guac_server_dir_unpacked }}/"'
  with_items:
    - make

- name: "Running make install for Guacamole"
  command: 'make install chdir="{{ guac_server_dir_unpacked }}/"'

- name: "Run ldconfig for Guacamole"
  command: 'ldconfig'

- name: "Download and unarchive files connectors"
  unarchive:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: yes
  with_items:
    - { src: '{{ guac_mysql_conn_src }}', dest: '{{ guac_mysql_conn_dst }}' }
    - { src: '{{ guac_ldap_conn_src }}', dest: '{{ guac_ldap_conn_dst }}' }
    - { src: '{{ guac_totp_auth_src }}', dest: '{{ guac_totp_auth_dst }}' }

- name: "Transfer files form unarchived folder to correct location"
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: yes
  with_items:
    - { src: '{{ guac_mysql_conn_file }}', dest: '{{ guac_mysql_conn_dst }}' }
    - { src: '{{ guac_ldap_conn_file }}', dest: '{{ guac_ldap_conn_dst }}' }
    - { src: '{{ guac_totp_auth_file }}', dest: '{{ guac_totp_auth_dst }}' }

- name: "Remove 2Factor authentication when guac_totp_auth_state = 'disabled'"
  file:
    path: "{{ item }}"
    state: absent
  with_fileglob:
    - "{{ guac_totp_auth_dst }}/guacamole-auth-totp*"
  when:
    - guac_totp_auth_state == 'disabled'

- name: "Import MySQL database schemas"
  mysql_db:
    state: import
    name: "{{ guac_dbname }}"
    login_user: "{{ guac_dbuser }}"
    login_password: "{{ guac_dbpass }}"
    target: "{{ item }}"
  with_items:
    - "{{ guac_mysql_conn_src_schema }}/001-create-schema.sql"
    - "{{ guac_mysql_conn_src_schema }}/002-create-admin-user.sql"
  ignore_errors: yes    
    
- name: "Download and unarchive files connectors"      
  apt:
    deb: "{{ guac_mysql_conn_java_src }}"

- name: "Copy from /usr/share/java/mysql-connector-java-8.0.19.jar to {{ guac_mysql_conn_java_dst }}" 
  copy:
    src: /usr/share/java/mysql-connector-java-8.0.19.jar
    dest: "{{ guac_mysql_conn_java_dst }}/mysql-connector-java-8.0.19.jar"
    remote_src: yes

- name: "Allow all traffic on port 8080/tcp "
  ufw: 
    rule: allow
    port: "8080"
    proto: tcp

- name: "Restart guac en tomcat8 services"
  systemd:
    name: "{{ item }}"
    state: restarted
    enabled: yes
  with_items:
    - mysql
    - guacd
    - tomcat8

- name: "import branding"
  import_tasks: branding.yml

- name: "import apache2"
  import_tasks: apache2.yml
