.login-ui .login-dialog .logo {
        background-image: url('app/ext/tempnamespace/images/logo-placeholder.png');
	width: {{ guac_brd_dialog_bg_size }};
	-webkit-background-size: {{ guac_brd_dialog_bg_size }};
}
div.login-ui {
	background: {{ guac_brd_ui_bg }};
	background-color: {{ guac_brd_ui_bg_color }};
}
.login-ui .login-dialog {
	background-color: white;
}
